/* Define o estilo geral da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #444;
}

header {
  position: relative;
  height: 300px;
}

.header-image-conteiner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 10px;
}

.navbar-header {
  font-size: 2rem;
  text-transform: uppercase;
  pointer-events: auto;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 20px;
}

.navbar-toggle {
  display: none;
}

.navbar-menu {
  transition: all .5s ease-in-out;
  position: relative;
  display: flex;
  list-style: none;
  font-size: 1rem;
  text-transform: uppercase;
  pointer-events: auto;
  text-transform: uppercase;
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  position: relative;
  display: block;
  transition: .5s;
  margin-right: 20px;
}

.navbar-menu a::before{
  content: attr(data-item);
  transition: .5s;
  color: #fff;
  position: absolute;
  overflow: hidden;
  text-decoration: none;
}

.navbar-menu a:hover::before{
  width: 100%;
  transition: all .5s ease-in-out;
}
/* Responsive styles */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
    cursor: pointer;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* Estiliza o conteúdo principal */
main {
  padding-bottom: 20px;
}

/* Estiliza as seções do conteúdo principal */
section {
  margin-bottom: 40px;
}

/* Estiliza os títulos das seções */
section h2 {
  font-size: 25px;
  background: linear-gradient(90deg, #4776e6 0%,
                              #e954e2 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;

}
section h3{
  margin: 3%;
}
/* Estiliza a lista de serviços */
section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estiliza o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/*______________________________________*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

section {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
}
